@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: 20px;
    line-height: 1.5;
}
body{
    font-family: 'Seogoe UI';
}
/* hr{
    border: 1px solid #800020;
    margin-top: 10px;
    margin-bottom: 10px;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #800020;
    color: orange;
}
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;

}
.navbar-links li a {
    text-decoration: none;
    color: orange;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: rgb(109, 71, 71);

}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
}
.header{
    background-color: #800020;
    padding: 1em;
}
.about_me{
    background-color: orange;
    padding: 1em;
}
.xperience{
    background-color: orange;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navi{
    color: white;
    visibility: hidden;
}
.navigations{
    display: flex;
    text-decoration: none;
    list-style-type: none;

}
.nav-links{
    text-decoration: none;
    color:orange;
}
.nav-links:hover{
    text-decoration: none;
    color:orangered;
    background-color: #5f4a4a;
    width: 100%;

}
.nav-links + .nav-links{
    margin-left: 1em;
}
.aboutRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aboutCol{
    margin-bottom: 1em;
}
.xa,.proj{
    color: #800020;
}
.mm{
    border: 2px solid yellow;
    background-color: #800020;
    padding: .5em 1em;
    color: yellow;
    font-weight: 400;
    text-decoration: none;
    border-radius: 30px ;
}
.mm:hover{
    padding: 16px;
    background-color: orange;
    color: #800020;
    font-weight: bolder;
}
#link{
    margin-top: 1em;
}
.projects{
    background-color: #800020;
    padding: 1em;
}
.projRow{
    display: flex;
    text-align: center;
    font-size: 15px;

    color: orange;
}
.proCol{

    width: 100%;
}
.description{
    font-size: 15px;
        width: 15em;
        margin: auto;
    
    }

.proj{
color: orange;
text-align: center;
margin-bottom: 1em;
}
.footer{
    display: flex;
    background-color: #800020;
    padding: .5em;
    justify-content: center;
    color: orange;
}
.contact_me{
    background-color: orange;
    padding: 1em;
}
.cMeRow{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social{
    color: #151a15;
}
.social + .social{
    margin-left: 50px;
    margin-top: 1em;
}
.cont{
    margin-bottom: 1em;
}
i{
    color: #800020;
}
#nav{
    color: orange;
}
.fig:hover{
    transform: scale(1.1);
     background:hsl(180, 42%, 95%);
}
.footerr{
    text-align: center;
}
.logo{
    width: 70px;
    height: auto;
}
@media (max-width: 600px)
{
    *{
        font-size: 17px;
    }
    .projRow{
        display: flex;
        text-align: center;
        font-size: 12px;
        flex-direction: column;
        color: orange;
    }
    .proCol{
        margin-bottom: 1em;
    }
    .navi{
        visibility: visible;
        align-items: flex-end;
        justify-items: right;
    }
    .navigations{
        visibility: hidden;
    }
    .description{
        width: 15em;
        margin: auto;
    
    }
    .mm:hover{
        padding: 13px;
        background-color: orange;
        color: #800020;
        font-weight: bold;
    }
 }
 @media (max-width:700px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: left;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
 }

