@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: 20px;
}
body{
    font-family: 'Seogoe UI';
}
/* hr{
    border: 1px solid #800020;
    margin-top: 10px;
    margin-bottom: 10px;
} */


.header{
    background-color: #800020;
    padding: 1em;
}
.about_me{
    background-color: orange;
    padding: 1em;
}
.xperience{
    background-color: orange;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navi{
    color: white;
    visibility: hidden;
}
.navigations{
    display: flex;
    text-decoration: none;
    list-style-type: none;

}
.nav-links{
    text-decoration: none;
    color:orange;
}
.nav-links:hover{
    text-decoration: none;
    color:orangered;
    background-color: #000000;
    border-radius: 10px;
    padding: 0px 10px;
}
.nav-links + .nav-links{
    margin-left: 1em;
}
.aboutRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.aboutCol{
    margin-bottom: 1em;
}
.xa,.proj{
    color: #800020;
}
.mm{
    border: 2px solid yellow;
    background-color: #800020;
    padding: .5em 1em;
    color: yellow;
    font-weight: 400;
    text-decoration: none;
    border-radius: 30px ;
}
.mm:hover{
    padding: 16px;
    background-color: orange;
    color: #800020;
    font-weight: bolder;
}
#link{
    margin-top: 1em;
}
.projects{
    background-color: #800020;
    padding: 1em;
}
.projRow{
    display: flex;
    text-align: center;
    font-size: 15px;

    color: orange;
}
.proCol{

    width: 100%;
}
.description{
    font-size: 15px;
        width: 15em;
        margin: auto;
    
    }
}
.proj{
color: orange;
text-align: center;
margin-bottom: 1em;
}
.footer{
    display: flex;
    background-color: #800020;
    padding: .5em;
    justify-content: center;
    color: orange;
}
.contact_me{
    background-color: orange;
    padding: 1em;
}
.cMeRow{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.social + .social{
    margin-left: 50px;
    margin-top: 1em;
}
.cont{
    margin-bottom: 1em;
}
i{
    color: #800020;
}
#nav{
    color: orange;
}
.fig:hover{
    transform: scale(1.1);
     background:hsl(180, 42%, 95%);
}
.footerr{
    text-align: center;
}
.logo{
    width: 70px;
    height: auto;
}
@media (max-width: 600px)
{
    *{
        font-size: 17px;
    }
    .projRow{
        display: flex;
        text-align: center;
        font-size: 12px;
        flex-direction: column;
        color: orange;
    }
    .proCol{
        margin-bottom: 1em;
    }
    .navi{
        visibility: visible;
        align-items: flex-end;
        justify-items: right;
    }
    .navigations{
        visibility: hidden;
    }
    .description{
        width: 15em;
        margin: auto;
    
    }
    .mm:hover{
        padding: 13px;
        background-color: orange;
        color: #800020;
        font-weight: bold;
    }
 }

