    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Varela Round', 'Segoe UI',sans-serif;
            font-size: 16px;
            line-height: 2.0;
        }
        body{
            background-image: radial-gradient(circle, #1D2951,#0E4D92);
        }

                .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #1D2951;
                
                }

                .brand-title {
                    font-size: 1.5rem;
                    margin: .5rem;
                }

                .logo {
                    width: 20px;
                    height: auto;
                }

                .navbar-links ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                }

                .navbar-links li {
                    list-style: none;
                }

                .navbar-links li a {
                    text-decoration: none;
                    padding: 1rem;
                    display: block;
                    color: #CAf0f8;
                }

                .navbar-links li:hover {
                    background-color: #0E4D92;
                    border-radius: 5px;
                }
                .toggle-button {
                    position: absolute;
                    top: 1.4rem;
                    right: 1rem;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 2em;
                    height: 1.5em;
                    padding: 2px;
                    color: #89CFF0;
                }

                .toggle-button .bar {
                    height: 2px;
                    width: 100%;
                    background-color: #89CFF0;
                    border-radius: 10px;
                    font-weight: bolder;
                    
                }
                .hr{
                    font-size: 4.5rem;
                    line-height: 1;
                    text-align: left;
                    color: white;
                }
                .what{
                    font-size: 3rem;
                    color:rgb(222, 248, 182);
                }
                .name{
                    text-align: left;
                }
                 .tech{
                    list-style-type: square;
                    text-align: center;
                    margin-left:20px;
                } 
                .ulContainer{
                    display: flex;
                }
                .tech li{
                    text-align: left;
                    align-items: flex-start;
                    margin-right: 3rem;
                    
                }
                .summaryContainer{
                    display: flex;
                }
                .summary{
                    width: 50%;
                    text-align: left;
                    margin-top: -10px;
                }
                .summary2{
                    margin-left: 4rem;
                }
                .image {
                    border: none;
                    border-radius: 100px;
                    width: 200px;
                    height:270px;
                }
                .imageCol{
                    border-radius: 100px;
                    width: 200px;
                    height:270px;
                    
                
                }

                .about_me {
                    background-image: radial-gradient(circle, #1D2951,#0E4D92);
                    padding: 2em;
                    color: #89CFF0;

                }
                @keyframes hit {
                        /* 15%{
                            padding-left: 1rem;
                        }
                    30%{
                            padding-left: 1rem;
                        }
                        45%{
                            padding-left: 1rem;
                        }
                        60%{
                            padding-right: 2rem;
                        }
                        75%{
                            padding-right: 2rem;
                        }
                        100%{
                            padding-right: 2rem;
                        } */
                        /* 50%{
                            width:3rem;
                        }
                        100%{
                            width: 2rem;
                        } */
                }
                .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                
                  
                   
                   }
                   #link,#link2 {
                    margin-top: 1.5em;
                    margin-bottom: 1.5em;
                    text-align: center;
                    animation-name: hit;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    
                  
                   
                }

                .mm1:hover,.mm:hover {
                    color: navy;
                    border-color: #fffdd0;
                    background-color:white;
                }

                .xperience {
                    background-image: radial-gradient(circle farthest-corner,#0E4D92 ,#1D2951);
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    color: #1D2951;
                    text-align: left;
                    
                }

                .navRow {
                    display: flex;
                    justify-content: space-between;
                }

                .aboutRow {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                .aboutCol {
                    margin-bottom: 1em;
                  }

                .xp {
                    color: #ade8fa;
                    text-align: center;
                }

               .xa {
                    color:#89CFF0;
                    text-align: center;
                }
            

                .projects {
                    background-image: linear-gradient(to right, #1D2951,white 50%,#1D2951);
                     padding: 2em;
                    
                }

                .projRow {
                    display: flex;
                    text-align: center;
                    font-size: 1rem;
                    color: #0096C7;
                }

                .proCol {
                    background-color: #1D2951;
                    width: 100%;
                    box-shadow: 0 0 5px 2px #151a15;
                    color: #CAf0f8;
                    margin-bottom: 1rem;

                }
                .proCol + .proCol{
                    margin-left: 1rem;
                } 
                .proCol:hover{
                    transform: scaleY(1.02);
                }
                figure{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .description {
                    font-size: 16px;
                    width: 15em;
                    margin: auto;
                }

                .proj {
                    color: navy;
                    text-align: center;
                    margin-bottom: 1em;
                }
                .resume{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                #resumee:hover{
                    color: white;
                    }

                .footer {
                    display: flex;
                    background-color: #0E4D92;
                    padding: .5em;
                    justify-content: center;
                    color: #CAf0f8;
                    flex-direction: column;
                    align-items: center;
                }

                .contact_me {
                    background-color: #1D2951;
                    padding: 1em;
                    color: #ADE8F4;
                }
                .aboutme{
                    color: #CAf0f8;
                    margin-top: 3rem;
                }
                #aboutme{
                    display: flex;
                    margin: 0px 50px;
                }

                .cMeRow {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }

                .pro {
                    font-size: larger;
                }

                .fab:hover{
                    color:#0077B6;
                    transform: scale(1.1);
                }
                #design{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 1rem;
                    align-items: center;
                    margin-bottom: 1.3rem;

                }
                .designLink{
                    text-decoration: none;
                    color: #ADE8F4;
                    background-color: transparent;
                    border-radius: 5px ;
                    border: 1px solid #ADE8F4;
                    font-weight: lighter;
                    padding: 10px 10px;

                
            }
            .designLink:hover{
                transform: scale(1.1);

            }

                .cont {
                    margin-bottom: 1em;
                }

                i {
                    color:#89CFF0;
                }

                .fig:hover {
                    transform: scale(1.1);
                    background: hsl(180, 42%, 95%);
                }
                #myBtn {
                    display: none;
                    position: fixed; 
                    bottom: 20px;
                    right: 30px; 
                    z-index: 10; 
                    background-color: #1D2951;
                    color: #00B4D8; 
                    cursor: pointer; 
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: lighter;
                    padding: 3px 12px;
                    border: 1px solid #0096C7;
                    box-shadow: 0 0 10px 2px #151a15;

    }
    #arrow{
        color: #00B4D8;
        z-index: 100;
    }
            
        #vc{
            color: #00B4D8;
            text-decoration: none;
            border: 1px solid #00B4D8;
            padding: .5rem;
            border-radius: 5px;
        }
        #vc:hover{
            padding: 10px;
        }
        .social + .social{
            margin-left: 1.5rem;
        }
    
        
            
            #myBtn:hover {
                background-color: #ade8f4;
            }


            @media (max-width:700px) {
                * {
                    font-size: 16px;
                }
                .hr{
                    font-size: 2.5rem;
                    line-height: 1;
                    text-align: left;
                }
                .what{
                    font-size: 1.5rem;
                }
                .name{
                    text-align: left;
                }
                .summary{
                    width:90%;
                    text-align: left;
                }
                .summaryContainer{
                    display: flex;
                    flex-direction: column;
                }
                .summary2{
                    text-align: left;
                    margin-left: 0;
                    margin-top: 1rem;
                }
                .imageCol{
                    align-content: center;
                    margin: auto;
                    width: 180px;
                    height: 250px;
                }
                
                .image {
                     border-radius: 100px;
                     width: 180px;
                    height: 250px;

                }
                .toggle-button {
                    display: flex;
                }
                .navbar-links {
                    display: none;
                    margin-left: 0;
                }
                .navbar-links-2{
                    display: none;
                }
                .navbar {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .navbar-links ul {
                    width: 100%;
                    flex-direction: column;
                }
                .navbar-links li {
                    text-align: left;
                }
                .navbar-links li a {
                    padding: .5rem 1rem;
                }
                .navbar-links.active {
                    display: flex;
                }
                .social {
                    color: #151a15;
                    width:10px;
                }
                .social+.social {
                    margin-left: 12px;
                }
                .proCol + .proCol{
                    margin-left: 0;
                    margin-top: 1rem;
                }
                
            .xa,.xp{
         
                width: 100%;
                text-align: center;
            }
                .projRow{
                    display: flex;
                    flex-direction: column;
                }
                #aboutme{
                        display: flex;
                        margin: 0px 0px;
                        flex-direction: column;
                }
                .home{
                    font-weight: lighter;
                    line-height: 1.2;
                    margin-left: -10px;
                }
                
                #myBtn {
                    font-size: 16px;
                    font-weight: lighter;
                    padding: 3px 12px;
                
               }
                     .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                   }
                .footer {
                    display: flex;
                    background-color:#0E4D92;
                    padding: .5em;
                    justify-content: center;
                    color: #CAf0f8;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            
            
             
            }

             @media (max-width: 600px) {
                * {
                    font-size: 16px;
                }
                .navi {
                    visibility: visible;
                    align-items: flex-end;
                    justify-items: right;
                }
                .home{
                    font-weight: lighter;
                    line-height: 1.2;
                    margin-left: -10px;
                    transform: translateY(0);
                }
                .navigations {
                    visibility: hidden;
                }
                .description {
                    width: 15em;
                    margin: auto;
                }
                .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                }
                .projRow{
                    display: flex;
                    flex-direction: column;
                }
                .proCol + .proCol{
                    margin-left: 0;
                    margin-top: 1rem;
                }
                .social {
                    color: #151a15;
                }
                .social+.social {
                    margin-left: 20px;
                }
                 .xp,.xa{
                   width:100%;
                   text-align:center;
                  }
                #myBtn {
                    font-weight: lighter;
                    padding: 3px 12px;
                
                }
                .footer {
                    display: flex;
                    background-color: #0E4D92;
                    padding: .5em;
                    justify-content: center;
                    color: #89CFF0;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

       
