    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            line-height: 2.0;
        }

                .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #00B4D8;
                
                }

                .brand-title {
                    font-size: 1.5rem;
                    margin: .5rem;
                }

                .logo {
                    width: 20px;
                    height: auto;
                }

                .navbar-links ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                }

                .navbar-links li {
                    list-style: none;
                }

                .navbar-links li a {
                    text-decoration: none;
                    padding: 1rem;
                    display: block;
                    color: #CAf0f8;
                }

                .navbar-links li:hover {
                    background-color: #0077B6;
                    border-radius: 5px;
                }
                .toggle-button {
                    position: absolute;
                    top: 1.4rem;
                    right: 1rem;
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 2em;
                    height: 1.5em;
                    padding: 2px;
                    color: #CAf0f8;
                }

                .toggle-button .bar {
                    height: 2px;
                    width: 100%;
                    background-color: #CAf0f8;
                    border-radius: 10px;
                    font-weight: bolder;
                    
                }
                .hr{
                    font-size: 4.5rem;
                    line-height: 1;
                    text-align: left;
                }
                .what{
                    font-size: 3rem;
                }
                .name{
                    text-align: left;
                }
                .summary{
                    width: 50%;
                    text-align: left;
                    margin-top: -10px;
                }
                .image {
                    border: none;
                    border-radius: 100px;
            
                }
                .imageCol{
                    border: 2px solid #CAf0f8;
                    border-radius: 100px;
                
                }

                .about_me {
                    background-color: #0077B6;
                    padding: 2em;
                    color: #ADE8F4;

                }
                .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                   }

                .mm1:hover,.mm:hover {
                    color: navy;
                    background-color: transparent;
                    border-color: #fffdd0;
                    background-color:#ADE8F4;
                }

                .xperience {
                    background-color: #0077B6;
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    color: #ADE8F4;
                    text-align: left;
                    
                }

                .navRow {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .aboutRow {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                .aboutCol {
                    margin-bottom: 1em;
                  }
                

                .xp {
                    color: #ade8fa;
                    width: 80%;
                    text-align: center;
                }

               .xa {
                    color: #CAf0f8;
                    width: 80%;
                    text-align: center;
                }
                #link,#link2 {
                    margin-top: 1.5em;
                    margin-bottom: 1.5em;
                    text-align: center;
                }

                .projects {
                    background-color:#0077B6;
                     padding: 2em;
                    
                }

                .projRow {
                    display: flex;
                    text-align: center;
                    font-size: 1rem;
                    color: #0096C7;
                }

                .proCol {
                    background-color: #0077B6;
                    width: 100%;
                    box-shadow: 3px 3px 10px #151a15;
                    color: #CAf0f8;

                }
                .proCol + .proCol{
                    margin-left: 1rem;
                } 
                .proCol:hover{
                    transform: scaleY(1.02);
                }
                figure{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .description {
                    font-size: 16px;
                    width: 15em;
                    margin: auto;
                }

                .proj {
                    color: #caf0f8;
                    text-align: center;
                    margin-bottom: 1em;
                }

                .footer {
                    display: flex;
                    background-color: #00B4D8;
                    padding: .5em;
                    justify-content: center;
                    color: #CAf0f8;
                    flex-direction: column;
                    align-items: center;
                }

                .contact_me {
                    background-color: #0077B6;
                    padding: 1em;
                    color: #ADE8F4;
                }
                .aboutme{
                    color: #CAf0f8;
                }
                #aboutme{
                    width: 60%;
                    text-align: right;
                }

                .cMeRow {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }

                .pro {
                    font-size: larger;
                }

                .fab:hover{
                    color:#0077B6;
                    transform: scale(1.1);
                }
                #design{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-top: 1rem;
                    align-items: center;
                    margin-bottom: 1.3rem;

                }
                .designLink{
                    text-decoration: none;
                    color: #ADE8F4;
                    background-color: transparent;
                    border-radius: 5px ;
                    border: 1px solid #ADE8F4;
                    font-weight: lighter;
                    padding: 10px 10px;

                
            }
            .designLink:hover{
                transform: scale(1.1);

            }

                .cont {
                    margin-bottom: 1em;
                }

                i {
                    color:#CAf0f8;
                }

                .fig:hover {
                    transform: scale(1.1);
                    background: hsl(180, 42%, 95%);
                }
                #myBtn {
                    display: none;
                    position: fixed; 
                    bottom: 20px;
                    right: 30px; 
                    z-index: 10; 
                    background-color: #ADE8F4;
                    color: #00B4D8; 
                    cursor: pointer; 
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: lighter;
                    padding: 3px 12px;
                    border: 1px solid #0096C7;
    }
    #arrow{
        color: #00B4D8;
        z-index: 100;
    }
            
        #vc{
            color: #00B4D8;
            text-decoration: none;
            border: 1px solid #00B4D8;
            padding: .5rem;
            border-radius: 5px;
        }
        #vc:hover{
            padding: 10px;
        }
        .social + .social{
            margin-left: 1.5rem;
        }
    
        
            
            #myBtn:hover {
                background-color: #ade8f4;
            }


            @media (max-width:700px) {
                * {
                    font-size: 16px;
                }
                .hr{
                    font-size: 2.5rem;
                    line-height: 1;
                    text-align: left;
                }
                .what{
                    font-size: 1.5rem;
                }
                .name{
                    text-align: left;
                }
                .summary{
                    width:90%;
                    text-align: left;
                }
                .image {
                    border: none;
                     border-radius: 100px;
                     width: 280px;
                    height: 370px;
                }
                .toggle-button {
                    display: flex;
                }
                .navbar-links {
                    display: none;
                    margin-left: 0;
                }
                .navbar {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .navbar-links ul {
                    width: 100%;
                    flex-direction: column;
                }
                .navbar-links li {
                    text-align: left;
                }
                .navbar-links li a {
                    padding: .5rem 1rem;
                }
                .navbar-links.active {
                    display: flex;
                }
                .social {
                    color: #151a15;
                    width:10px;
                }
                .social+.social {
                    margin-left: 12px;
                }
                .proCol + .proCol{
                    margin-left: 0;
                    margin-top: 1rem;
                }
                
            .xa,xp{
         
                width: 100%;
                text-align: center;
            }
                .projRow{
                    display: flex;
                    flex-direction: column;
                }
                #aboutme{
                    width: 100%;
                    text-align: right;
                }
                .home{
                    font-weight: lighter;
                    line-height: 1.2;
                    margin-left: -10px;
                }
                
                #myBtn {
                    font-size: 16px;
                    font-weight: lighter;
                    padding: 3px 12px;
                
               }
                     .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                   }

                .mm1:hover,.mm:hover {
                    color: navy;
                    background-color: transparent;
                    border-color: #fffdd0;
                    background-color:#ADE8F4;
                }
                .footer {
                    display: flex;
                    background-color: #00B4D8;
                    padding: .5em;
                    justify-content: center;
                    color: #CAf0f8;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            
            
             
            }

             @media (max-width: 600px) {
                * {
                    font-size: 16px;
                }
                .navi {
                    visibility: visible;
                    align-items: flex-end;
                    justify-items: right;
                }
                .home{
                    font-weight: lighter;
                    line-height: 1.2;
                    margin-left: -10px;
                }
                .navigations {
                    visibility: hidden;
                }
                .description {
                    width: 15em;
                    margin: auto;
                }
                .mm1,.mm {
                    padding: 1.2em 1.7em;
                    color: #ADE8F4;
                    background-color: transparent;
                    font-weight: 400;
                    text-decoration: none;
                    border-radius: 5px;
                    border: 2px solid #ADE8F4;
                    font-size: 1rem;
                   }

                .mm1:hover,.mm:hover {
                    color: navy;
                    background-color: transparent;
                    border-color: #fffdd0;
                    background-color:#ADE8F4;
                }
                .projRow{
                    display: flex;
                    flex-direction: column;
                }
                .proCol + .proCol{
                    margin-left: 0;
                    margin-top: 1rem;
                }
                .social {
                    color: #151a15;
                }
                .social+.social {
                    margin-left: 20px;
                }
                 .xp,.xa{
                   width:100%;
                   text-align:center;
                  }
                #myBtn {
                    font-weight: lighter;
                    padding: 3px 12px;
                
                }
                .footer {
                    display: flex;
                    background-color: #00B4D8;
                    padding: .5em;
                    justify-content: center;
                    color: #CAf0f8;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

       
